<% if current_user %>
  <p class="profile-link"><%= link_to "Profile", profile_page_path %></p>
  <h2 class="title">Welcome to Route plotter</h2>

	<div id="mapid">
    <div id="routes"></div>
  </div>
<% end %>
