// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
  text-align: center;
}

.profile-info-container {
  text-align: center;

  .profile-info {
    margin-top: 100px;
    text-align: left;
    display: inline-block;

    .profile-label {
      border-bottom: 5px solid lightblue;
    }
  }
}