<div class="title-container">
  <h2>Profile</h2>
</div>

<div class="profile-info-container">
  <div class="profile-info">
    <p><span class="profile-label">Email address: </span><%= @user.email %></p>

    <%= link_to "Edit email address", edit_edit_email_path(@user.id), :class => 'standard-link' %>

    <%= link_to "Edit password", edit_edit_password_path(@user.id), :class => 'standard-link' %>
  </div>
</div>